<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LUCI"
        tools:targetApi="31">
        <activity
            android:name=".InformacionPF"
            android:exported="false" />
        <activity
            android:name=".InformacionApp"
            android:exported="false" />
        <activity
            android:name=".PreguntasFecuentes"
            android:exported="false" />
        <activity
            android:name=".InformacionCM"
            android:exported="false" />
        <activity
            android:name=".VerCitas"
            android:exported="false" />
        <activity
            android:name=".agendar_cita_3"
            android:exported="false" />
        <activity
            android:name=".agendar_cita_2"
            android:exported="false" />
        <activity
            android:name=".inicio_app"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilPersonal"
            android:exported="false" />
        <activity
            android:name=".AgregarConsulta"
            android:exported="false" />
        <activity
            android:name=".Documentos"
            android:exported="false" />
        <activity
            android:name=".ActualizarDatosPerfil"
            android:exported="false" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".PreguntasFrecuentes"
            android:exported="false" />
        <activity
            android:name=".AgendarCita"
            android:exported="false" />
        <activity
            android:name=".MenuAcciones"
            android:exported="false" />
    </application>

</manifest>